# Get your free Mapbox token at https://account.mapbox.com

# No key needed for OpenAQ or Open-Meteo — they're fully free and open
OPENAQ_API_KEY=6c4ab111eabfed1095e3945f81ab8fa299341c20650a8c08aa8b15b2d1b3cdd3